{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{%block page_product_detail_buy %}
    {{ parent() }}
    <span style="color:red">To jest super produkt z promocji</span>
{%endblock%}
